<a href="https://colab.research.google.com/github/masaladosai/mlp/blob/main/mlp_GA1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
from google.colab import files
import numpy as np

In [ ]:
uploaded_file=files.upload()
file_name=list(uploaded_file)[0]

In [60]:
df=pd.read_csv(file_name)

In [ ]:
df

In [ ]:
df.info()

In [17]:
'''
1. How many unknown ("?) values are present in the dataset? Remove/Delete unknown ("?) values present in the dataset to make it null value.

    Remove/Delete - means it will show NAN in place of "?"
'''
ques1=int((df=='?').sum().sum())
df.replace('?',np.nan,inplace=True)

In [18]:
'''
2. What is the shape of the dataset
'''
ques2=df.shape

In [58]:
'''
3. What is the value present at the 692th indexed row and 0th indexed column in the data
 '''
ques3=df.iloc[692,0]

In [52]:
'''

4. What is the value present at the 546th indexed row and 7th indexed column in the data
'''
ques4=df.iloc[546,7]

In [29]:
'''
5. What are the unique values present in the Locality feature of the dataset?
'''
ques5=df['Locality'].unique().tolist()

In [ ]:
'''
6. Which of the following features have missing(NaN) values present in the dataset
'''
df.isna().sum()

In [39]:
'''
7. Which of the following feature has most missing(NaN) values present in the dataset?

'''
ques7=df.isna().sum().idxmax()

In [46]:
'''
8. Drop all the samples(rows) with missing values strictly greater than 2. How many samples remains after that ?
'''
df_new=df[df.isna().sum(axis=1)<=2]
ques8=df_new.shape[0]

In [48]:
'''
9. Drop all the samples(rows) with missing values in the original dataframe. How many samples remains after that
'''
df.dropna(inplace=True)
ques9=df.shape[0]

In [59]:
print('q1:',ques1)
print('q2:',ques2)
print('q3:',ques3)
print('q4:',ques4)
print('q5:',ques5)
print('q7:',ques7)
print('q8:',ques8)
print('q9:',ques9)

q1: 1823
q2: (10000, 12)
q3: 2010-12-10
q4: 3
q5: ['Waterbury', 'Bridgeport', 'Greenwich', 'Norwalk', nan, 'Fairfield', 'West Hartford', 'Stamford']
q7: Property
q8: 9917
q9: 5449