<a href="https://colab.research.google.com/github/masaladosai/mlp/blob/main/w3_drop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import sklearn as sk
import seaborn as sns

In [18]:
df=sns.load_dataset("titanic") #load dataset using seaborn

In [ ]:
df.describe() #check

In [ ]:
df.info() #check

In [24]:
df.drop(columns=["deck"],inplace=True) #drop deck column since it has too much missing values

In [27]:
df["age"]=df["age"].fillna(df["age"].mean()) #age column has some missing values so use mean as a filler

In [30]:
df.dropna(inplace=True) #drops rows with missig values

In [ ]:
df.isna().sum()